/*------------------------------------------------------------------------
 OVERALL
------------------------------------------------------------------------*/
body {
	font-family: Arial, sans-serif;
	padding: 40px;
}
a { 
	color: #58C;
}
object {
	display: block;
	margin: 0 auto;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}
form, div {
	margin: 0 0 40px 0;
}
fieldset {
	clear: both;
	border: 0;
	padding: 5px 10px 10px 10px;
	margin: 0;
	background-color: #F5F5F5;
	border: 1px solid #7A2;
}
hr { 
	border:0; 
	clear: both;
	display: block;
	height: 10px;
	width: 100%;
}
legend {
	padding: 0;
	font-weight: bold;
}
label {
	display: block;
	float: left;
	width: 29%;
	font-size: 70%;
	margin: 5px 0 0 0;
}
input, select {
	margin: 2px 0;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	display: block;
	float: left;
	width: 70%;
}
button {
	margin: 0;
	padding: 5px 0;
	width: 100%;
	border: 0;
	background-color: #7A2;
	color: #FFF;
}
li {
	list-style: none;
	display: block;
	float: left;
	padding: 8px 16px;
	color: #FFF;
	margin-right: 2px;
	border-bottom: 2px solid #FFF;
	font-size: 70%;
	cursor: pointer;
	background-color: #7A2;
}
ul {
	display: block;
	padding: 0;
	margin: 0;
}
p { 
	font-size: 85%;
	line-height: 150%;
	padding: 10px;
}


/*------------------------------------------------------------------------
 SPECIFIC
------------------------------------------------------------------------*/
#examplesform {
	display: none;
}
#javascript { 
	display: none;
	height: 100px;
}
#javascript form {
	width: 32%;
	margin-right: 2%;
	float: left;
}
#javascript #listenersform {
	float: right;
	margin: 0;
}
#preview {
	background-color: #F5F5F5;
	text-align: center;
}
#flashvarsform li.active {
	border-bottom: 2px solid #7A2;
	cursor: default;
}
#flashvarsform fieldset {
	display: none;
}
#plugins {
	height: 200px;
}