body { padding: 0 50px; font: 13px/20px Arial; background: #EEE; }
a , h1 { color: #369; }
h1 { font-size: 32px; }
h2 { margin-top: 50px; font-size: 18px; }
h3 { margin-top: 25px; }
pre { font-size: 12px; background: #E5F3C8; padding:5px 10px; border: 1px solid #D3EAA4; }
dd { color: #333; font-style: italic; }
table { width: 100%; border-collapse: collapse; }
tr:nth-child(even) { background: #EEE; }
td, th { padding: 2px 6px; font-size: 12px; font-style: italic; text-align: left; vertical-align: top;}
td { border: 1px solid #CCC; }
.note { font-size: 12px; font-style: italic; }
.player, #container, iframe { box-shadow: 0 0 5px #999; background: #000; }