body { padding: 50px; font: 13px/20px Arial; background: #EEE; }
a  { color: #369; }
a:visited { color: #444; }
form,p, ul { margin-top: 20px; }
#player { -webkit-box-shadow: 0 0 5px #999; }
.note { font-style: italic; color: #444; }